@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";

header#header div.wrapper nav#nav div#menu_toggle ul.nav > li:hover > a{
    color: hsla(60, 100%, 40%, 1);
}
header#header div.wrapper nav#nav div#menu_toggle ul.nav > li:nth-child(1) > a::after{
    width: 6px;
    height: 6px;
}
main#main{
    /* border: 1px solid salmon; */
}
div#top div.banner{
    background-image: url("../images/browse_card_img5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;    
}
div#top div.banner div.title_wrap{
    /* border: 1px solid red; */
    width: 75%;
    margin: 0 auto;
}
div#top div.banner div.title_wrap h2{
    font-size: 2.8rem;
    color: #fff;
    /* font-weight: normal; */
    /* letter-spacing: 0.3em; */
}
div#wrapper{
    /* border: 1px solid #00ffbf; */
    width: 95%;
    margin: 0 40px 0 20px;
    /* display: flex;
    justify-content: space-between; */
}
/* div.bar-container div.bar{
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    box-shadow: -8px 2px 14px rgb(32 32 32 / 10%);
}
div.bar-container div.bar div.progress-bar{
    background-color: #ccc;
    opacity: .6;
    height: 4px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 0px 150px;
}
div.bar-container div.bar div.progress-bar::after{
    content: " ";
    background-color: hsla(155, 100%, 32%, 1);
    border-radius: 8px;
    width: 33.3%;
    height: 100%;
    display: block;
    transition: width 350ms ease-out 0s;
} */
/* div#icon{
    min-width: 150px;
    max-width: 160px;
    display: inline-flex;
    flex-direction: column;
    margin: 120px 20px;
}
div#icon div.step01::after{
    content: "";
    display: inline-block;
    width: 1.5px;
    height: 200px;
    background-color: #8e8e8e5c;
    border-radius: 5px;
    position: absolute;
    top: 190px;
    left: 50%;
}
div#icon div.make{
    position: relative;
}
div#icon div.make:nth-of-type(1){
    flex-grow: 3;
}
div#icon div.make:nth-of-type(2){
    flex-grow: 0;
}
div#icon div.make:nth-of-type(3){
    flex-grow: 5;
}
div#icon div.make > img{
    transform: scale(0.65);
    max-width: 100%;
    filter: grayscale() opacity(0.7);
}
div#icon div.make > h2{
    letter-spacing: 0.4rem;
    color: hsla(60, 100%, 40%, 1);
    text-align: center;
    margin: -10px;
} */
div#content{
    /* border: 1px solid DarkOrchid; */
    margin: 100px auto;
    width: 100%;
    font-size: 0;
}
div#content div.content_wrap{
    /* border: 1px solid red; */
    width: 90%;
    margin: 60px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
div#content div.content_wrap a.linkpage{
    /* border: 1px solid aquamarine; */
    margin: 10px;
    margin-top: 35px;
    /* width: 65%; */
}
div#content div.content_wrap a.last{
    margin-right: 0;
}
div#content div.content_wrap a.linkpage div.card{
    border: 1px solid hsla(60, 20%, 75%, 1);
    display: inline-block;
    width: 380px;
    background-color: #fff;
    padding: 7px 11px;
    border-radius: 2px;
    transition: width 1s;
}
@media screen and (max-width: 1342px){
    div#content div.content_wrap a.linkpage div.card{
        width: 420px;
    }
}
@media screen and (max-width: 1000px){
    div#content div.content_wrap a.linkpage div.card{
        width: 95%;
    }
}
div#content div.content_wrap a.linkpage div.card div.mask{
    /* border: 1px solid red; */
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
@media screen and (max-width: 996px){
    div#content div.content_wrap a.linkpage div.card div.mask{
        height: 285px;
    }
}
@media screen and (max-width: 500px){
    div#content div.content_wrap a.linkpage div.card div.mask{
        height: 225px;
    }
}
div#content div.content_wrap a.linkpage div.card div.mask img.lg{
    width: 100%;
}
div#content div.content_wrap a.linkpage div.card div.mask img.sm{
    display: none;
    width: 100%;
}
@media screen and (max-width: 996px){
    div#content div.content_wrap a.linkpage div.card div.mask img.lg{
        display: none;
    }
    div#content div.content_wrap a.linkpage div.card div.mask img.sm{
        display: block;
    }
}
div#content div.content_wrap a.linkpage div.card div.intro{
    padding: 0 10px;
}
div#content div.content_wrap a.linkpage div.card div.intro h3{
    font-size: 1.8rem;
    color: hsla(155, 100%, 32%, 1);
    font-weight: 400;
    letter-spacing: 0.35rem;
    padding: 15px 0 0 8px;
}
div#content div.content_wrap a.linkpage div.card div.intro p{
    /* border: 1px solid brown; */
    width: 95%;
    /* margin: 20px auto 10px; */
    padding: 10px 0 25px 20px;
    font-size: 1.5rem;
    line-height: 1.7;
    height: 114px;
    letter-spacing: 0.2rem;
    color: #a5a5a5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}